# Ignore CSV and TXT files
##########################
*.csv
*.txt

# Ignore Python byte code
#########################
__pycache__/
*.py[cod]

# Ignore system files and directories
#####################################
.vscode
.DS_Store

# Ignore FASTQ and template files
#################################
*.fastq*
*.fq*

# Ignore build directories
##########################
bin/
build/
lib/
*.egg-info/
dist/
